In [31]:
import pandas as pd
import os

directory = 'C:\\Users\\Ronja\\Documents\\Studium\\Semester 4\\DABI2\\Projekt\\Umsatzdaten\\DESTATIS\\Output\\1.9\\'  # replace with your directory
dataframes = []

for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        df = pd.read_csv(os.path.join(directory, filename))
        dataframes.append(df)

# Concatenate all dataframes
all_data = pd.concat(dataframes, ignore_index=True)
all_data = all_data.dropna(subset=['A'])

In [32]:
all_data_2 = []
all_data_2 = all_data.copy()

In [33]:
all_data_2.rename(columns={'A': 'Region', 'B': 'Ankuenfte', 'D': 'Uebernachtungen', 'F': 'Aufenthaltslaenge_mean'}, inplace=True)

In [35]:
all_data

,Region,Ankuenfte,Uebernachtungen,Aufenthaltslaenge_mean,Sequence,A,B,D,F
8503,NaN,NaN,NaN,NaN,200901,Bundesgebiet insgesamt,37869.0,189332.0,5.0
8504,NaN,NaN,NaN,NaN,200901,Deutschland,34177.0,176850.0,5.2
8505,NaN,NaN,NaN,NaN,200901,Ausland,3692.0,12482.0,3.4
8506,NaN,NaN,NaN,NaN,200901,Baden-Württemberg,6347.0,33881.0,5.3
8507,NaN,NaN,NaN,NaN,200901,Deutschland,5157.0,30531.0,5.9
...,...,...,...,...,...,...,...,...,...
17001,NaN,NaN,NaN,NaN,202212,Ausland,264,558,2.1
17002,NaN,NaN,NaN,NaN,202212,Thüringen,2792,6194,2.2
17003,NaN,NaN,NaN,NaN,202212,Deutschland,2751,6054,2.2
17004,NaN,NaN,NaN,NaN,202212,Ausland,41,140,3.4
17005,NaN,NaN,NaN,NaN,202212,1 Rechnerischer Wert: Übernachtungen/Ankünfte ...,NaN,NaN,NaN

In [24]:
prev = None
count = 0
for index, row in all_data_2.iterrows():
    if prev == 'Bayern' and count < 2:
        all_data_2.at[index, 'Region'] = 'BY_' + row['Region']
        count += 1
    if count == 2:
        count = 0
    prev = row['Region']

In [16]:
all_data_2.to_csv('C:\\Users\\Ronja\\Documents\\Studium\\Semester 4\\DABI2\\Projekt\\Umsatzdaten\\DESTATIS\\Output\\1.9\\combined_0901_2212_sheet_19.csv', index=False)