In [3]:
import pandas as pd

In [8]:
df = pd.read_csv('C:\\Users\\Ronja\\DataspellProjects\\BI_Projekt2.0\\data\\revenue\\uebernachtungen_0901_2212.csv', sep=',')

In [9]:
df.head()

,Region,Ankuenfte,Ankuenfte_Change,Uebernachtungen,Uebernachtungen_Change,Aufenthaltslaenge_mean,Sequence
0,BRD,37869,16.0,189332,12.4,5.0,200901
1,BRD_Deutschland,34177,18.9,176850,14.5,5.2,200901
2,BRD_Ausland,3692,-5.7,12482,-10.1,3.4,200901
3,BW,6347,7.1,33881,9.2,5.3,200901
4,BW_Deutschland,5157,6.8,30531,11.1,5.9,200901